<%= form_for(@islandparameter) do |f| %>
  <% if @islandparameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@islandparameter.errors.count, "error") %> prohibited this islandparameter from being saved:</h2>

      <ul>
      <% @islandparameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  
  <%= f.label :number_of_species %>
  <%= f.text_field :number_of_species %>
  <br>
  
  <%= f.label :number_of_islands %>
  <%= f.text_field :number_of_islands %>
  <br>
  
  <%= f.label :island_width %>
  <%= f.text_field :island_width %>
  <br>
  
  <%= f.label :island_length %>
  <%= f.text_field :island_length %>
  <br>
  
  <%= f.label :distance_from_mainland %>
  <%= f.text_field :distance_from_mainland %>
  <br>
  
  <%= f.label :number_of_generations %>
  <%= f.text_field :number_of_generations %>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
