<p id="notice"><%= notice %></p>

<h1>Listing Islandparameters</h1>

<table>
  <thead>
	  <th>Name</th>
	  <th>Number of Species</th>
	  <th>Number of Islands</th>
	  <th>Island Width</th>
	  <th>Island Length</th>
	  <th>Distance From Mainland</th>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @islandparameters.each do |islandparameter| %>
      <tr>
		<td><%= islandparameter.name %></td>
		<td><%= islandparameter.number_of_species %></td>
		<td><%= islandparameter.number_of_islands %></td>
		<td><%= islandparameter.island_width %></td>
		<td><%= islandparameter.island_length %></td>
		<td><%= islandparameter.distance_from_mainland %></td>
        <td><%= link_to 'Show', islandparameter %></td>
        <td><%= link_to 'Edit', edit_islandparameter_path(islandparameter) %></td>
        <td><%= link_to 'Destroy', islandparameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Islandparameter', new_islandparameter_path %>
